.Academicmain-Main {
  display: flex;
}

.allLeftMenuAOP {
  margin-top: 10px;
  margin-right: 60px;
}

.allLeftMenuAOP .menubutton {
  display: flex;
  flex-direction: column;
  background-color: grey;
  color: white;
  text-decoration: none;
  width: 300px;
  height: 60px; /* Set a fixed height for your buttons */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 13%;
}

/* Hover state */
.allLeftMenuAOP .menubutton:hover {
  background-color: #2e0669;
}

/* Selected state */
.allLeftMenuAOP .menubutton.active {
  background-color: #2e0669;
}


@media screen and (max-width: 600px) {
  .Academicmain-Main {
    display: flex;
    flex-direction: column;
  }
}
