.syllabus {
    height: 90vh;
    /* width: 60vw; */
    padding-top: 10px;
  }
  
  .accordion-affiliated {
    margin-top: 20px;
  }
  
  .syllabus-title {
    font-size: 26px;
    font-weight: 600;
    color: #690001;
  }
  
  tr:nth-child(even +) {
    background-color: #f2f2f2;
  }
  
  .AffiliatedColleges-search {
    width: max-content;
    padding-bottom: 0.4rem;
    margin-left: 70%;
  }
  
  @media screen and (max-width: 500px) {
    .AffiliatedColleges {
      padding-top: 4rem;
      margin-left: 0px;
      width: 99%;
    }
  
    .table-container {
      width: 100%;
      padding: 0rem;
    }
  
    .AffiliatedColleges-search {
      width: 50%;
      padding-bottom: 0.5rem;
      margin-left: 50%;
    }
  
    .AffiliatedColleges-title {
      padding-left: 0rem;
      padding-top: 2rem;
      padding-bottom: 0.5rem;
      font-size: 26px;
      color: #690001;
    }
  }
  